.footer {
  position: relative;
  width: 100%;
  min-height: 80px;

  background: var(--bg);
  color: var(--text);

  font-size: var(--font-size-footer);
  font-family: var(--heading);
}

/* белая линия сверху */
.whiteLine {
  position: absolute;
  top: 0;
  left: 0;

  width: 100%;
  height: 1px;

  background: var(--border-f);
}

.container {
  min-height: 80px;
  justify-content: space-between;
  align-items: center;

  padding: 0 30px;
}

/* 1. LOGO */

.logoBox {

  align-items: center;
  justify-content: center;
}

.logoBox img {
  width: 55px;
  height: 55px;
}

/* 2. LEGAL LINKS */

.legalLinks {

  flex-direction: column;
  gap: 6px;
}

.legalLinks a {
  color: var(--text);
  text-decoration: none;
  font-size: 16px;
}

.legalLinks a:hover {
  text-decoration: underline;
}

/* 3. RIGHT SIDE */

.rightSide {
  flex-direction: column;
  align-items: flex-end;
}

.follow {
  margin: 10px 0;

  font-size: var(--font-size-footer);
  color: var(--text);
  font-weight: 300;
}

.socials {

  gap: 15px;
  margin-bottom: 10px;
}

.socials a {

  justify-content: center;
  align-items: center;
}

.socials img {
  width: 28px;
  height: 28px;
}

.copy {
  margin: 0;

  font-size: var(--font-size-footer);
  color: var(--text);
  font-weight: 300;
}