.overlay {
    position: fixed;
    inset: 0;

    background: rgba(0,0,0,.35);

    display: flex;

    opacity: 0;
    visibility: hidden;

    transition: .3s;
}

.overlay.open {
    opacity: 1;
    visibility: visible;
}

.sideMenu {
  position: fixed;
  top: 0;
  left: 0;

  width: 280px;
  height: 100vh;

  background: var(--bg-modal-window);

  padding: 40px 24px;

  box-sizing: border-box;

   transform: translateX(-100%);

    transition: transform .3s ease;
}

.sideMenu.open {
    transform: translateX(0);
}

.closeButton {
  background: none;
  border: none;

  width: 20px;
  height: 20px;

  color: var(--text);

  cursor: pointer;

  margin-bottom: 40px;
}

.menuList {
  list-style: none;

  padding: 0;
  margin: 0;

  display: flex;
  flex-direction: column;
  gap: 18px;
}

.menuList a {
  text-decoration: none;

  color: var(--text);

  font-size: var(--font-size-modal-window);
  font-weight: 400;
}