.pageContainer {
  width: 100%;
  display: flex;
  justify-content: center; /* Центрируем контент на широких экранах */
}

.content {
  width: 100%;
  padding: 0 24px; /* Единое боковое поле 24px по замерам мобилки (от инпута) */
  padding-bottom: 32px;
}

/* Mobile */
.contextWrapper {
  margin-top: 16px;
}

.gridWrapper {
  margin-top: 25px;
}

.loaderWrapper {
  width: 100%;
  min-height: 250px;

  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner {
  width: 52px;
  height: 52px;

  border: 4px solid var(--border-h);
  border-top-color: var(--text);
  border-radius: 50%;

  animation: spin 0.9s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: reduce) {
  .spinner {
    animation-duration: 2.5s;
  }
}

/* Tablet  */
@media (min-width: 768px) {
  .content {
    padding: 0 32px;
    padding-bottom: 80px; /* без последней секции, поэтому увеличен нижний отступ, чтобы сетка не прилипала к футеру*/
  }
  .gridWrapper {
    margin-top: 28px;
  }
}

/* Desktop  */
@media (min-width: 1024px) {
  .content {
    /* Если на десктопе есть ограничение ширины контента, ставим max-width */
    /* max-width: 1200px; */
  }
  .contextWrapper {
    display: flex;
  }

  .gridWrapper {
    margin-top: 31px;
  }
}

@media (min-width: 1200px) {
  .content {
    padding-left: 48px;
    padding-right: 48px;
  }
}
