:root {
  --text: rgba(255, 255, 255, 1);
  --text-lb: rgba(129, 164, 205, 1);  /* вторая строка заголовка имеет другой цвет light blue */
  --bg: rgba(2, 33, 60, 1);
  --border-h: rgba(224, 108, 0, 1);
  --border-f: rgba(219, 228, 238, 1);

  --bg-modal-window: rgba(129, 164, 205, 1);


  --sans: "Inter", system-ui, "Segoe UI", sans-serif;
  --heading: "Inter", system-ui, "Segoe UI", sans-serif;


  --h1-size: 40px;
  --h2-size: 36px;
  
  --font-size-header-info: 11px;  /* для 12 GEPRÜFTE ANBIETER • 3 STÄDTE */
  
  --font-size-header: 20px;
  --font-size-footer: 8px;

  --p--size: 14px;


  --font-size-modal-window: 12px;


}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--sans);
  background-color: var(--bg);
  color: var(--text);
}

h1,
h2,
h3,
p
 {
  font-family: var(--heading);
  color: var(--text);
  margin: 0;
}

h1 {
  font-size: var(--h1-size);
  font-weight: 700;
}

h2 {
  font-size: var(--h2-size);
  color: var(--text-lb);
  font-weight: 700;
}


p {
  font-size: var(--p-size);
  font-weight: 400;
}

