.content {
  width: 100%;
  max-width: 400px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;

  padding: 32px;
  gap: 20px;
  margin: 0 auto;
  margin-top: 70px;

  box-sizing: border-box;
}

.h1,
.p {
  margin: 0;
}

.mobileBreak {
  display: block;
}


/* Desktop — 1440px */

@media (min-width: 1200px) {
  .content {
    max-width: 1200px;
    align-items: center;
    margin-top: 100px;
  }

  .mobileBreak {
    display: none;
  }
}