.button {
    text-decoration: none;
    color: var(--text);
    font-weight: 600;
    width: 100%;
    max-width: 345px;
    height: 56px;

    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--text);
    border-radius: 4px;

    background: var(--color-burger-button);


    cursor: pointer;
    transition: all 0.2s ease;
    margin: 50px 0;
    gap: 10px;
}

