.tile {
  width: 90px;
  height: 90px;
  border-radius: 2px;
  padding: 10px 4px;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  background-color: var(--bg);
  border: 1px solid var(--border-f);
  cursor: pointer;

  font-family: inherit;
  /* outline не трогаем, чтобы работал фокус с клавиатуры (Tab) */
}

.icon {
  width: 32px;
  height: 32px;
  flex-shrink: 0;
}

.label {
  font-size: 10px;
  text-align: center;
  color: var(--text);
  line-height: 1.2;
}
